:root {
  --color-primary: #0ce7b0;
  --gradient-primary: linear-gradient(
    to right bottom,
    #0ce7b0,
    #00c7b3,
    #00a6ab
  );
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
}

/* Use grid to place the test nav bar in the middle of the page */
body {
  font-weight: 300;
  color: #2e2e2e;
  line-height: 2;
  background: var(--gradient-primary);
  display: grid;
  /* grid-template-rows: repeat(5, 1fr); */
}

/* General Elements */

p {
  color: #000000;
  z-index: 1;
}

.main__content {
  margin: 50px;
  background-color: #ffffff;
}

/* Navigation */

.fixed__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  background-color: #474747;
}

.list__left,
.list__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 4rem;
}

.fixed__nav__item {
  margin-left: 4rem;
}

#link {
  color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;

  max-width: 900px;
  padding-left: 100px;
  z-index: 100;
  position: relative;
  left: 33%;
  top: 20px;

  padding: 10px;
  box-shadow: 10px 10px 25px #d1d1d1;
}

.nav__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 4rem;
  color: red;
}

.nav__item {
  margin-left: 4rem;
}

/* Header */

.header {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-around;
  padding-top: 50px;
}

/* Resize Later */
.header__img {
  height: 250px;
  width: 500px;
}

.section,
.test__section {
  border-bottom: 1px solid rgb(219, 219, 219);
}

.section {
  border: 1px solid red;
}

/* Section Content */

#section--1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__img {
  height: 250px;
  width: 500px;
}

.features {
  display: flex;
  flex-direction: column;
}
